.scroll-container {
  width: 200%; /* Set width for scrolling effect */
  display: flex; /* Flexbox for horizontal layout */
}

.animate-scroll {
  animation: scroll var(--animation-duration) linear infinite; /* Animation for scrolling */
}

.animate-scroll-reverse {
  animation: scroll-reverse var(--animation-duration) linear infinite; /* Animation for reverse scrolling */
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-50% - 1rem)); }
}

@keyframes scroll-reverse {
  0% { transform: translateX(calc(-50% - 1rem)); }
  100% { transform: translateX(0); }
}
